<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= meta_title %></title>

    <%= stylesheet_link_tag "application#{rtl? ? '-rtl' : ''}" %>
    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body class="<%= locale_direction %>" id="<%= unique_body_class(params) %>" >
    <div class="page-wrap">
      <%= render 'top_bar' %>

      <% if show_sidebar? %>
        <div class="large-2 columns sidebar">
          <%= render 'sidebar' %>
        </div>
        <%= render 'breadcrumbs' %>
        <div class="large-10 columns main-table" >
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      <% else %>
        <%= render 'breadcrumbs' %>
        <div class="large-12 columns">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      <% end %>

      <%= render 'common/footer' %>

      <%= javascript_include_tag "application" %>

      <% unless is_mobile? %>
        <script type="text/javascript">
          jQuery(document).ready(function($) {
            $('.chzn-select').chosen({
              allow_single_deselect: true,
              no_results_text: 'No results matched'
            });
          });
        </script>
      <% end %>
    </div>
  </body>
</html>